// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

:root {
  --primary-color: #EC6724;

  --white: #fff;
  --black: #000;

  --font-size-md: 0.875rem;
  --font-size-lg: 1rem;

  --font-weight-bold: 700;

  --border-radius-1: 0.25rem;
}

// body {
//   font-family: 'Inter', sans-serif;
// }
