:host {
  width: 100%;
}

button {
  cursor: pointer;
  width: 100%;
  height: 2.5rem;
  padding: 0px;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: var(--border-radius-2);
}

.outlined {
  color: var(--primary-color);
  background-color: var(--white);
  border: 2px solid var(--primary-color);
}
